/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца +
✦ card__like-button — для кнопки Like рядом с иконкой +
✦ card__icon-button — для кнопки, оборачивающей иконку +
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца +
✦ button__text — для обозначения текстового элемента внутри кнопки +

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  max-inline-size: 1440px;
  margin: 0 auto;
  color: var(--text-color);
  font-family: var(--main-font), sans-serif;
  font-variation-settings: 'wght' var(--main-font-weight);
  font-size: 18px;
  line-height: 21px;
  padding-block-start: 102px;
  background-image: var(--background);
  background-size: cover;
  background-attachment: fixed;
}

.header {
  margin: 0 auto;
  inline-size: var(--section-size);
  block-size: clamp(20.438rem, 3.85vw + 19.535rem, 23rem);
  text-transform: uppercase;
  text-align: center;
  line-height: normal;
  display: grid;
  grid-template-rows: 1fr min-content;
  border: 2px solid var(--text-color);
  background-color: var(--bg-color);
}

.header_logo {
  font-family: var(--accent-font), sans-serif;
  align-self: end;
  margin-block-end: 25px;
}

.header_title {
  font-size: clamp(3.063rem, 1.502vw + 2.71rem, 4.063rem);
  margin-block-end: 20px;
}

.header_subtitle {
  font-size: clamp(0.875rem, 0.845vw + 0.677rem, 1.438rem);
}

.header__theme-menu {
  align-self: end;
  justify-self: center;
  padding: 0 0 25px 20px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  text-align: start;
  gap: 14px;
}

.theme-menu__item {
  block-size: 14px;
  line-height: 1;
}

.button {
  border: none;
  background-color: transparent;
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: normal;
  color: inherit;
  text-transform: inherit;
  padding: 0;
  cursor: pointer;
}

.theme-menu__button {
  transition: opacity 0.3s ease;
  transition: transform 0.3s ease;
  position: relative;
}

.theme-menu__button:hover {
  opacity: 0.6;
}

:disabled {
  pointer-events: none;
  opacity: 0.6;
  position: relative;
}

:disabled::before {
  content: '▶';
  position: absolute;
  top: 0;
  left: -20px;
  color: inherit;
  animation: pushing 0.5s ease-in-out alternate infinite;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button::after {
  content: '';
  position: absolute;
  display: block;
  inline-size: 100%;
  block-size: 2px;
  top: 14px;
  left: 0px;
  background-color: var(--text-color);
  opacity: 0.6;
  transform: scaleX(0);
  transition: transform 0.3s ease;
  transform-origin: left;
}

:focus-visible.theme-menu__button::after {
  transform: scaleX(1);
}

.card-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  padding-block-start: 100px;
}

.card {
  inline-size: var(--section-size);
  border: 2px solid var(--text-color);
  background-color: var(--bg-color);
  color: var(--text-color);
  font-size: 18px;
}

.card_title {
  font-variation-settings: 'wght' var(--title-font-weight);
  line-height: 25px;
  font-size: inherit;
  margin: 3px 0 3px 10px;
}

.card_cover {
  aspect-ratio: 1 / 1;
  position: relative;
  border-block-start: 2px solid var(--text-color);
  border-block-end: 2px solid var(--text-color);
}

.card_cover-image {
  display: block;
  max-inline-size: 100%;
  object-fit: cover;
  object-position: center;
}

.brightness {
  filter: brightness(150%);
}

.invert {
  filter: invert(50%);
}

.grayscale {
  filter: grayscale(95%);
}

.saturate {
  filter: saturate(250%);
}

.sepia {
  filter: sepia(90%);
}

.opacity {
  filter: opacity(0.5);
}

.blur {
  filter: blur(5px);
}

.card_cover-label {
  position: absolute;
  top: 25px;
  right: 25px;
  color: var(--text-color);
  text-transform: uppercase;
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: normal;
  -webkit-text-stroke: 1px var(--label-color);
  opacity: 0.5;
  mix-blend-mode: hard-light;
}

@supports not (-webkit-text-stroke: 1px var(--label-color)) {
  .card_cover-label {
    text-shadow: 0 0 3px var(--label-color);
  }
} 

.card_description {
  padding: 25px 25px;
}

.card_paragraph:not(:last-of-type) {
  margin-block-end: 27px;
}

.buttons-container {
  padding: 0 25px 25px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 6px;
}

.sparks {
  opacity: 0;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--text-color);
  transition: border 0.3s ease;
}

.card__icon-button:focus-visible .like-icon {
  inline-size: 37px;
  block-size: 33.5px;
}

.card__icon-button .core {
  fill: transparent;
  transition: fill 0.3s;
  transition-delay: 0.03s;
}

.card__icon-button .main-body {
  fill: transparent;
  transition: fill 0.3s;
}

.card__icon-button:hover .core {
  fill: var(--text-color);
}

.card__icon-button:hover .main-body {
  transition-delay: 0.05s;
  fill: var(--text-color);
}

.card__icon-button:active .core,
.card__icon-button:active .main-body {
  fill: var(--heart-color);
}

.like-icon.is-liked .core {
  transition: fill 0.3s;
  fill: var(--heart-color)
}

.like-icon.is-liked .main-body {
  transition-delay: 0.05s;
  transition: fill 0.3s;
  fill: var(--heart-color)
}

.like-icon.is-liked .contour {
  transition-delay: 0.06s;
  transition: fill 0.3s;
  fill: var(--heart-color);
}

.like-icon.is-liked .heart {
  animation-delay: 0.1s;
  animation: scale 0.3s ease-in alternate;
  transform-origin: center;
}

.like-icon.is-liked .sparks {
  animation-delay: 0.3s;
  animation: splash 0.3s ease-in alternate;
}

.card__like-button {
  padding: 10.5px 0;
  inline-size: 130px;
  border: 2px solid var(--text-color);
  line-height: 0.9;
  transition: box-shadow 0.3s ease;
  transition: background-color 0.5s ease-in-out;
  position: relative;
}

.card__like-button:focus {
  outline: none;
}

.card__like-button:focus-visible {
  box-shadow: 2px 2px 0px 0px var(--text-color);
}

.card__like-button::before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  inline-size: 100%;
  block-size: 100%;
  background-color: var(--text-color);
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
  transform-origin: left;
}

:hover.card__like-button::before {
  transform: scaleX(1);
}

.button__text {
  position: relative;
  color: var(--label-color);
  mix-blend-mode: difference;
}

.footer {
  margin: 0 auto;
  padding: 50px 0 100px;
  inline-size: var(--section-size);
  display: flex;
  justify-content: center;
}

.button-save {
  border: 2px solid var(--text-color);
  background-color: var(--bg-color);
  line-height: 0.9;
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: 8px;
  padding: 15px 21px 15px 17px;
  align-items: center;
  position: relative;
}

.button-save_icon {
  inline-size: 21px;
  block-size: 21px;
  color: var(--label-color);
  mix-blend-mode: difference;
}

.button-save:focus {
  outline: none;
}

.button-save:focus-visible {
  box-shadow: 2px 2px 0px 0px var(--text-color);
}

.button-save::before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  inline-size: 100%;
  block-size: 100%;
  background-color: var(--text-color);
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
  transform-origin: left;
}

:hover.button-save::before {
  transform: scaleX(1);
}

.dialog_window {
  margin: auto;
  inline-size: 360px;
  border: 2px solid var(--text-color);
  background-color: var(--bg-color);
  padding: 30px;
  font-family: var(--accent-font), sans-serif;
  color: var(--text-color);
  font-size: 14px;
  line-height: 1.5;
  text-transform: uppercase;
}

.dialog_window::backdrop {
  background-color: #000;
  opacity: 0.75;
}

.dialog_content {
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: 20px;
  align-items: center
}

.dialog_button {
  border: 2px solid var(--text-color);
  text-align: center;
  inline-size: 100%;
  line-height: 0.9;
  padding: 9px 0;
  margin-block-start: 30px;
  position: relative;
}

.dialog_button:focus {
  outline: none;
}

.dialog_button:focus-visible {
  box-shadow: 2px 2px 0px 0px var(--text-color);
}

.dialog_button::before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  inline-size: 100%;
  block-size: 100%;
  background-color: var(--text-color);
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
  transform-origin: left;
}

:hover.dialog_button::before {
  transform: scaleX(1);
}

@media (width <= 375px) {
  .page {
    margin: 0;
  }

  .header_title {
    font-size: clamp(2.5rem, 16.364vw - 0.773rem, 3.063rem);
  }

  .card_title {
    margin: 4px 10 6px;
  }

  .card_cover-label {
    right: 11px;
  }

  .footer {
    margin: 0 auto;
    padding: 50px 0 100px;
    inline-size: var(--section-size);
    display: flex;
    justify-content: center;
  }
  
  .button-save {
    grid-template-columns: none; 
    grid-template-rows: min-content 1fr;
    justify-items: center;
    padding: 15px 20px;
  }
  
  .button-save_icon {
    inline-size: 28px;
    block-size: 28px;
  }

  .dialog_window {
    padding: 30px 40px;
  }
}